@model TransmissionRSS.ViewModels.Job.TestRssViewModel

@{
}


<div class="row">
    <div class="col">
        <dl>
            @foreach (var item in Model.RssItems)
            {
                <dt>@item.Item.ToString()</dt>
                <dd>@item.Path</dd>
            }
        </dl>

        <a asp-action="Edit" asp-controller="Job" asp-route-id="@Model.Id" class="btn btn-success">Back</a>
    </div>
</div>
